$color-background:           #FFFFFF;
$color-text:                 #FFFFFF;
$color-primary-text:         #212121;
$color-secondary-text:       #727272;
$color-dark-primary:         #388E3C;
$color-primary:              #4CAF50;
$color-light-primary:        #C8E6C9;
$color-light-primary-faded:  rgba(200, 230, 201, .7);
$color-accent:               #FF9800;
$color-divider:              #B6B6B6;